/* General Styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('images/image2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e2e8ed;
    padding: 10px 20px;
}

.navbar-brand {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    text-decoration: none;
}

.navbar-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-item {
    margin-left: 20px;
}

.nav-link {
    text-decoration: none;
    color: #333;
    font-size: 18px;
}

/* Hero Section */
.hero {
    text-align: center;
    padding: 30px 10px;
    background-color: rgba(220, 53, 69, 0.9);
    color: rgb(250, 248, 248);
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 20px;
}
