/* CSS for Login Page */
body, html {
    height: 100%;
    margin: 0;
    background-size: cover;
}



.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.col-md-4 {
    background-color: rgba(236, 225, 225, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(202, 27, 27, 0.1);
}
