<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fitness Tracker</title>
    <link rel="stylesheet" href="../static/home.css">
</head>
<body class="background-img">
    <nav class="navbar">
        <a class="navbar-brand" href="#">Fitness Tracker</a>
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" href="{{ url_for('login') }}">Login</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('register') }}">register</a></li>
        </ul>
    </nav> 

    <section class="hero">
        <h1>Track Your Fitness Journey</h1>
        <p>Start today to a healthier tomorrow. Track workouts, hydration, periods, and more!</p>
    </section>
</body>
</html>
